{% extends 'wrapper.html' %}
{% block page_title %}Multimedia Production & Strategic Distribution{% endblock %}
{% block page_metadata %}
       <meta name="description" content="The award-winning content creation, distribution and media strategy division within Cision helping you to drive and inspire actions from your communication programs">
       <meta content="MultiVu" name="author"/>
       <meta content="MultiVu: Award-Winning Multimedia Production & Strategic Distribution" itemprop="name" property="og:title"/>
       <meta content="website" property="og:type">
       <meta content="https://www.multivu.com" property="og:url"/>
       <meta content="https://www.multivu.com/img/multivu-share.jpg" property="og:image"/>
       <meta content="MultiVu, a Cision company" property="og:site_name"/>
       <meta content="The award-winning content creation, distribution and media strategy division within Cision helping you to drive and inspire actions from your communication programs" itemprop="description" property="og:description"/>
       <meta content="summary_large_image" name="twitter:card"/>
       <meta content="@MultiVu" name="twitter:creator"/>
       <meta content="@MultiVu" name="twitter:site"/>
{% endblock %}
{% block body_class %}class="home-page"{% endblock %}

{% block content %}

             <div id="hero">
                 <div class="overlay"></div>
                   <div class="container">
                     <div class="row hero-wrapper">
                         <div class="col-md-5 col-sm-6 hero-left">
                             <div class="hero-content">

                               <h1>Industry Leader</h1>
                               <p><i class="fa fa-check-circle" aria-hidden="true"></i> Most Satellite Media Tours Produced</p>
                               <p><i class="fa fa-check-circle" aria-hidden="true"></i> Largest Number of Internal Support Resources</p>
                               <p><i class="fa fa-check-circle" aria-hidden="true"></i> Most Experienced On-Staff Expertise for Best Strategic Approach</p>
                               <!--Icon Carousel-->
                                 <div id="hero-carousel" class="carousel-fade carousel slide" data-ride="carousel" data-pause="false" data-interval="4000">
                                       <!-- Wrapper for slides -->
                                       <div class="carousel-inner" role="listbox">
                                         <div class="item active">
                                             <div class="row hero-icon-wrapper">
                                                 <div class="col-md-4 col-sm-4">
                                                     <img src="/img/media-tours.png" alt="Media Tour Icon" class="hero-icon">
                                                     <div class="hero-icon-caption">
                                                         Media Tours
                                                     </div>
                                                 </div>

                                                 <div class="col-md-4 col-sm-4">
                                                     <img src="/img/creative.png" alt="Creative Icon" class="hero-icon">
                                                     <div class="hero-icon-caption">
                                                         Creative
                                                     </div>
                                                 </div>

                                                 <div class="col-md-4 col-sm-4">
                                                     <img src="/img/psa.png" alt="PSA Icon" class="hero-icon">
                                                     <div class="hero-icon-caption">
                                                         PSA
                                                     </div>
                                                 </div>
                                             </div>

                                         </div>
                                         <div class="item">
                                             <div class="row hero-icon-wrapper">
                                                 <div class="col-md-6 col-sm-6">
                                                     <img src="/img/distribution.png" alt="Distribution Icon" class="hero-icon">
                                                     <div class="hero-icon-caption">
                                                         Distribution
                                                     </div>
                                                 </div>

                                                 <div class="col-md-6 col-sm-6">
                                                     <img src="/img/award-winning.png" alt="Award Winnng Icon" class="hero-icon">
                                                     <div class="hero-icon-caption">
                                                         Award-Winning
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                       </div>
                                     </div>
                               <!---->
                             </div>
                         </div>
                         <div class="col-md-7 col-sm-6 hero-right">

                             <div class="hero-video computer-screen">
                                 <a data-toggle="modal" data-target="#heroModal">
                                     <div class="play-btn"><i class="fa fa-play" aria-hidden="true"></i></div>
                                     <img src="/img/monitor.png" class="hero-video-img"  alt="computer monitor"/>
                                     <img src="/img/mobile-video.png" class="mobile-video-img" />
                                 </a>
                             </div>

                             <div class="hero-video-mobile">

                             </div>

                             <div class="modal fade" id="heroModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                               <div class="modal-dialog">
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                           <span aria-hidden="true">&times;</span>
                                         </button>
                                     </div>
                                   <div class="modal-body">
                                     <div class="videoWrapper">
                                        <div id="kaltura_player_1508429863" style="width: 626px; height: 352px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject"> <span itemprop="name" content="80919_MultiChannel.mp4"></span> <span itemprop="description" content="80919_MultiChannel.mp4"></span> <span itemprop="duration" content="121"></span> <span itemprop="thumbnail" content="http://prnewswire2-a.akamaihd.net/p/1893751/sp/189375100/thumbnail/entry_id/0_qab5ejfd/version/100002"></span> <span itemprop="width" content="626"></span> <span itemprop="height" content="352"></span> </div> <script src="https://cdnapisec.kaltura.com/p/1893751/sp/189375100/embedIframeJs/uiconf_id/36147811/partner_id/1893751?autoembed=true&entry_id=0_qab5ejfd&playerId=kaltura_player_1508429863&cache_st=1508429863&width=626&height=352&flashvars[streamerType]=auto"></script>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                             </div>
                         </div>
                     </div>

        </div>

      </div>

             <div id="solutions-container">
                 <div id="solution-wrapper" class="container">
                     <h2 class="solution-header">Featured Solutions</h2>

                     <div class="row">

                             <div class="col-md-4 col-sm-4 solution-box">
                                 <a href="solutions/satellite-and-radio-media-tour.html" title="SATELLITE AND RADIO MEDIA TOURS">
                                     <div class="solution-content">
                                         <div class="about-box-icon"><img src="/img/MediaTours.jpg" alt="Satellite and Radio Media Tour" /></div>
                                         <h3 class="solution-title">SATELLITE AND RADIO MEDIA TOURS (SMTs/RMTs)</h3>
                                         <p class="solution-description">
                                             11+ million impressions guaranteed
                                         </p>
                                     </div>
                                 </a>
                             </div>

                             <div class="col-md-4 col-sm-4 solution-box">
                                 <a href="solutions/social-content-production.html" title="SOCIAL CONTENT PRODUCTION">
                                     <div class="solution-content">
                                         <div class="about-box-icon"><img src="/img/PSAs.jpg" alt="Social Content Production" /></div>

                                         <h3 class="solution-title">SOCIAL CONTENT PRODUCTION</h3>
                                         <p class="solution-description">
                                             Production of content formatted for your Facebook, Instagram or other social channels
                                         </p>
                                     </div>
                                 </a>
                             </div>

                             <div class="col-md-4 col-sm-4 solution-box">
                                 <a href="solutions/creative-video-production.html" title="CREATIVE VIDEO PRODUCTION">
                                     <div class="solution-content">
                                         <div class="about-box-icon"><img src="/img/creative-services.png" alt="Creative Video Production" /></div>

                                         <h3 class="solution-title">CREATIVE VIDEO PRODUCTION</h3>
                                         <p class="solution-description">
                                             Production of content for both broadcast placement and online
                                         </p>
                                     </div>
                                 </a>
                             </div>
                     </div>
                     <div class="row">
                             <div class="col-md-4 col-sm-4 solution-box">
                                 <a href="solutions/strategic-placement.html" title="STRATEGIC PLACEMENT">
                                     <div class="solution-content">
                                         <div class="about-box-icon"><img src="/img/StrategicPlacements.jpg" alt="Strategic Placement" /></div>

                                         <h3 class="solution-title">STRATEGIC PLACEMENT</h3>
                                         <p class="solution-description">
                                             Placement of content on nationally targeted broadcast shows
                                         </p>
                                     </div>
                                 </a>
                             </div>

                             <div class="col-md-4 col-sm-4 solution-box">
                                 <a href="https://www.multivu.com/players/English/mcr2-mnr-cmk-resource1/" title="BRANDED LANDING PAGES" target="_blank">
                                     <div class="solution-content">
                                         <div class="about-box-icon"><img src="/img/content-marketing-kit.png" alt="Content Marketing Kit" /></div>
                                         <h3 class="solution-title">BRANDED LANDING PAGES</h3>
                                         <p class="solution-description">

                                             A branded landing page brings your content to 4,500+ websites and databases with guaranteed page views to reach new audiences online
                                         </p>
                                     </div>
                                 </a>
                             </div>

                             <div class="col-md-4 col-sm-4 solution-box">
                                 <a href="solutions/analytics.html" title="ANALYTICS">
                                     <div class="solution-content">
                                         <div class="about-box-icon"><img src="/img/analytics.png" alt="Analytics" /></div>
                                         <h3 class="solution-title">ANALYTICS</h3>
                                         <p class="solution-description">
                                             Reporting and tracking on both the broadcast and online channels
                                         </p>
                                     </div>
                                 </a>
                             </div>
                     </div>

                 </div>
             </div>


      <div id="blog-content">

                 <div class="container">
          <div class="row">
            <h2 class="solution-header">From Our Experts</h2>
          </div>
        <div class="row full-list blog-cards">
          <a href="blog/2017/homepages-vs-landing-pages-maximizing-the-attention-span-of-your-audience.html" title="Homepages vs Landing Pages&mdash;Maximizing the Attention Span of Your&nbsp;Audience" class="read-more">
          <div class="col-sm-12 col-md-4 blog-entry featured-blog" style="height: auto;">

              <div class="entry-header">
                <img src="blog/2017/img/landing-pages-vs-homepages-maximizing-the-attention-pan-of-your-audience/hero.jpg" alt="Homepage and landing page on computer screens" title="Homepages vs Landing Pages&mdash;Maximizing the Attention Span of Your&nbsp;Audience" class="release-feed-image" style="left: 50%;">
              </div>

              <div class="blog-entry-content">
                <span class="blog-cat">#ContentMarketing, #MNR</span>
                <h4 class="release-title">Homepages vs Landing Pages&mdash;Maximizing the Attention Span of Your&nbsp;Audience</h4>
                <p>by Megan Petrello</p>
                <p>So you&rsquo;ve got an announcement to make and unfortunately the PA system in your elementary school is no longer cutting it.</p>

              <p>
                <a href="blog/2017/homepages-vs-landing-pages-maximizing-the-attention-span-of-your-audience.html" title="Homepages vs Landing Pages&mdash;Maximizing the Attention Span of Your&nbsp;Audience" class="read-more">Read more</a>
              </p>
              </div>

          </div>
          </a>

                     <div class="col-sm-12 col-md-7 u-padding0">

            <div id="" class="horizontal-blog-entry">

              <a href="blog/2017/new-tricks-are-a-brands-treat.html" title="New Tricks are a Brands&rsquo; Treat">
              <div class="h-blog-thumbnail hide-for-small-only day-of-blog-home" style="background-image: url('blog/2017/img/new-tricks-are-a-brands-treat/hero.jpg'); background-position: 48% 0%;">
              </div>
              <div class="h-blog-wrap">
                <span class="blog-cat">#ContentMarketing</span>
                <h4 class="blog-entry-title">
                  New Tricks are a Brands&rsquo; Treat
                </h4>

                <div class="h-blog-entry-footer">
                  <div class="entry__author">
                    <p class="author">
                      by Stephen Kaplan
                    </p>
                    <p>
                      <a href="blog/2017/new-tricks-are-a-brands-treat.html" title="New Tricks are a Brands&rsquo; Treat" class="read-more">Read more</a>
                    </p>
                  </div>
                </div>

              </div>
              </a>
            </div>

          </div>
          <div class="col-sm-12 col-md-7 u-padding0">
            <a href="blog/2017/5-tips-to-leverage-facebook-live-for-your-brand.html" title="5 Tips to Leverage Facebook Live for your Brand">
            <div id="" class="horizontal-blog-entry">

              <div class="h-blog-thumbnail hide-for-small-only" style="background-image: url('blog/2017/img/5-tips-to-leverage-facebook-live-for-your-brand/hero.jpg');">
              </div>

              <div class="h-blog-wrap">
                <span class="blog-cat">#LiveVideo, #SocialMedia</span>
                <h4 class="blog-entry-title">
                  5 Tips to Leverage Facebook Live for your Brand
                </h4>

                <div class="h-blog-entry-footer">
                  <div class="entry__author">
                    <p class="author">
                      by Dan Conboy
                    </p>
                    <p>
                      <a href="blog/2017/5-tips-to-leverage-facebook-live-for-your-brand.html" title="5 Tips to Leverage Facebook Live for your Brand" class="read-more">Read more</a>
                    </p>
                  </div>
                </div>

              </div>

            </div>
            </a>
          </div>
                     <div class="col-sm-12 col-md-7 u-padding0">
            <a href="blog/2017/3-ways-to-harness-the-creative-chaos.html">
            <div id="" class="horizontal-blog-entry">

                  <div class="h-blog-thumbnail hide-for-small-only" style="background-image: url('blog/2017/img/harnessing-the-creative-chaos/hero.jpg');">
                  </div>

              <div class="h-blog-wrap">
                <span class="blog-cat">#Creative</span>
                <h4 class="blog-entry-title">
                  3 Ways to Harness the Creative Chaos
                </h4>
                <div class="h-blog-entry-footer">
                  <div class="entry__author">
                    <p class="author">
                      by Jillian Breslin
                    </p>
                    <p>
                      <a href="blog/2017/3-ways-to-harness-the-creative-chaos.html" title="3 Ways to Harness the Creative Chaos" class="read-more">Read more</a>
                    </p>
                  </div>
                </div>

              </div>
            </div>
            </a>
          </div>





          <!---end featured blog cards---->
        </div>

                         <a href="blog/blog.html" title="More from our experts" class="mnr-seemore">More from our experts <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                     </div>

             </div>



             <div id="featured-content">

                     <div class="container">
            <div class="row">
              <h2 class="solution-header">Featured Content</h2>
            </div>
                         <div class="row full-list mnr-cards">

              <div class="col-sm-4 col-md-4 mnr-entry">
                <a href="https://www.multivu.com/players/English/8200751-nancys-petite-stuffed-bagels/" target="_blank" rel="nofollow" title="BRUNCHING AT HOME JUST GOT EASIER AND MORE&hellip;">
                  <div class="entry-header">
                    <img src="/img/featured-content/nancys-hero.jpg" alt="Nancy's Hero Image" title="BRUNCHING AT HOME JUST GOT EASIER AND MORE&hellip;" class="release-feed-image">
                    <div class="feed-date">Nov 6, 2017</div>
                  </div>

                  <div class="entry-content"><h4 class="release-title">BRUNCHING AT HOME JUST GOT EASIER AND MORE&hellip;</h4>
                    <p>Inspired by a real-life, ultimate hostess turned baker, Nancy Mueller of San Fra&hellip;</p>
                  </div>
                </a>
                <div class="entry-buttons">
                  <a href="https://www.multivu.com/players/English/8200751-nancys-petite-stuffed-bagels/" target="_blank" rel="nofollow" title="BRUNCHING AT HOME JUST GOT EASIER AND MORE&hellip;" class="read-more">Read more</a>
                </div>

              </div>

              <div class="col-sm-4 col-md-4 mnr-entry">
                <a href="https://www.multivu.com/players/English/8031131-sc-johnson-conservation-international-under-the-canopy/" target="_blank" rel="nofollow">
                  <div class="entry-header">
                    <img src="/img/featured-content/sc-johnson-hero.jpg" alt="SC Johnson Conservation Hero Image" title="SC Johnson Conservation International Unde&hellip;" class="release-feed-image">
                    <div class="feed-date">Nov 3, 2017</div>
                  </div>

                  <div class="entry-content"><h4 class="release-title">SC Johnson Conservation International Unde&hellip;</h4>
                    <p>SC Johnson today announced it has received Conservation International&rsquo;s most pre&hellip;</p>
                  </div>
                </a>
                <div class="entry-buttons">
                  <a href="https://www.multivu.com/players/English/8031131-sc-johnson-conservation-international-under-the-canopy/" target="_blank" rel="nofollow" title="SC Johnson Conservation International Unde&hellip;" class="read-more">Read more</a>
                </div>

              </div>




              <div class="col-sm-4 col-md-4 mnr-entry">
                <a href="https://www.multivu.com/players/English/82164241-emma-ebook-email-lasting-customer-relationships/" target="_blank" rel="nofollow">
                  <div class="entry-header">
                    <img src="https://www.multivu.com/players/English/82164241-emma-ebook-email-lasting-customer-relationships/image/hero-1509668529108-null-HR.jpg" alt="Emma Hero Image" title="Emma Offers Important Tips to Help Markete&hellip;" class="release-feed-image">
                    <div class="feed-date">Nov 3, 2017</div>
                  </div>

                  <div class="entry-content"><h4 class="release-title">Emma Offers Important Tips to Help Markete&hellip;</h4>
                    <p>New eBook titled &ldquo;Why Email Holds the Key to Lasting Customer Relationship&hellip;</p>
                  </div>
                </a>
                <div class="entry-buttons">
                  <a href="https://www.multivu.com/players/English/82164241-emma-ebook-email-lasting-customer-relationships/" target="_blank" rel="nofollow" title="Emma Offers Important Tips to Help Markete&hellip;" class="read-more">Read more</a>
                </div>

              </div>



                             <div class="col-sm-4 col-md-4 mnr-entry">
                <a href="https://www.multivu.com/players/English/8192831-kelloggs-2018-olympic-games-getsmestarted/" target="_blank" rel="nofollow">
                  <div class="entry-header">
                    <img src="/img/featured-content/whatgetsyoustarted.jpg" alt="Kelloggs Hero Image" title="MEET THE U.S. OLYMPIC & PARALYMPIC HOPEFULS&hellip;">
                    <div class="feed-date">Oct 30, 2017</div>
                  </div>

                  <div class="entry-content"><h4 class="release-title">MEET THE U.S. OLYMPIC &amp; PARALYMPIC HOPEFULS&hellip;</h4>
                    <p>With nearly 100 days until the Olympic and Paralympic Winter Games PyeongChang 2&hellip;</p>
                  </div>
                </a>
                <div class="entry-buttons">
                  <a href="https://www.multivu.com/players/English/8192831-kelloggs-2018-olympic-games-getsmestarted/" target="_blank" rel="nofollow" title="MEET THE U.S. OLYMPIC &amp; PARALYMPIC HOPEFULS&hellip;" class="read-more">Read more</a>
                </div>

              </div>



              <div class="col-sm-4 col-md-4 mnr-entry">
                <a href="https://www.multivu.com/players/English/7992454-dickeys-barbecue-pit-middle-east/" target="_blank" rel="nofollow">
                  <div class="entry-header">
                    <img src="/img/featured-content/dickysbbqhero.jpg" alt="Dickys BBQ Hero Image" title="Dickey&rsquo;s Barbecue Pit Fires Up First..." class="release-feed-image">
                    <div class="feed-date">Oct 30, 2017</div>
                  </div>

                  <div class="entry-content"><h4 class="release-title">Dickey&rsquo;s Barbecue Pit Fires Up First&hellip;</h4>
                    <p>Dickey&rsquo;s will develop first international locations in the Middle East</p>
                  </div>
                </a>
                <div class="entry-buttons">
                  <a href="https://www.multivu.com/players/English/7992454-dickeys-barbecue-pit-middle-east/" target="_blank" rel="nofollow" title="Dickey&rsquo;s Barbecue Pit Fires Up First..." class="read-more">Read more</a>
                </div>

              </div>

              <div class="col-sm-4 col-md-4 mnr-entry">
                <a href="https://www.multivu.com/players/English/8209451-jnj-be-there-for-veterans/" target="_blank" rel="nofollow">
                  <div class="entry-header">
                    <img src="/img/featured-content/behindpsahero.jpg" alt="Johnson & Johnson Hero Image" title="New VA and Johnson &amp; Johnson Campaign..." class="release-feed-image">
                    <div class="feed-date">Oct 30, 2017</div>
                  </div>

                  <div class="entry-content"><h4 class="release-title">New VA and Johnson &amp; Johnson Campaign&hellip;</h4>
                    <p>Public Service Announcement Narrated by Tom Hanks Encourages People to &lsquo;Be&hellip;</p>
                  </div>
                </a>
                <div class="entry-buttons">
                  <a href="https://www.multivu.com/players/English/8209451-jnj-be-there-for-veterans/" target="_blank" rel="nofollow" title="New VA and Johnson &amp; Johnson Campaign ..." class="read-more">Read more</a>
                </div>

              </div>




              <!---end featured content cards---->
                         </div>

                         <a href="news/all-content.html" title="More multichannel content" class="mnr-seemore">More multichannel content <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>

                 </div>
             </div>


      <div id="social-icon-container">
                 <div id="social-wrapper">
                     <ul class="social-list">
                         <li><h5>Connect with Us:</h5></li>
                         <li><a href="https://twitter.com/multivu" target="_blank" rel="nofollow" title="MultiVu Twitter"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
                         <li><a href="https://www.instagram.com/multivusocial/" target="_blank" rel="nofollow" title="MultiVu Instagram"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
                         <li><a href="https://www.facebook.com/PRNMultiVu/" target="_blank" rel="nofollow" title="MultiVu Facebook"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a></li>
                         <li><a href="https://www.linkedin.com/company-beta/11138736/" target="_blank" rel="nofollow" title="MultiVu LinkedIn"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></li>
                     </ul>
                 </div>
             </div>

             <!--This is where feeds go-->
{% endblock %}

{% block footer_include %}
    <script>
            $('#mainNav').affix({
              offset: {
                top: 100
              }
            });

      /****** hero text******/
        $(".typed").typed({
          strings: ["Creative", "Strategic", "Innovative", "Award-Winning", "MultiVu"],
          typeSpeed: 100,
          loop: true,
          startDelay: 1000,
          backDelay: 2000
        });

    </script>

{% endblock %}